body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #000;
	background: #eee;
	padding: 0;
	margin: 0;
}

.header {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	display: flex;
}

.header__title {
	margin: 0;
	font-size: 35px;
	font-weight: bold;
	line-height: 1.2;
}

.header__user {
	font-size: 18px;
	line-height: 1.2;
	align-self: flex-end;
	margin-left: 10px;
	flex: 1;
}

.header__checkbox {
	align-self: flex-end;
	margin-left: 30px;
	font-size: 14px;
}

.hosts {
	margin-top: 30px;
	margin-left: 30px;
}

.host {
	background: white;
	padding: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.grid .host {
	width: 375px;
	display: inline-grid;
}

.host__name {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 20px;
}

.host__app {
	display: flex;
	color: #4a5a5a;
}

.host__app + .host__app {
	margin-top: 12px;
}

.host__app__apdex {
	opacity: 0.62;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.5;
	width: 30px;
}

.host__app__name {
	font-size: 16px;
	line-height: 1.2;
	flex: 1;
}